### SENSUS API for zipcode: https://api.census.gov/data/2020/acs/acs5?get=NAME,group(B19013)&for=zip%20code%20tabulation%20area:*

### how to zip: https://www2.census.gov/data/api-documentation/how-to-download-all-zip-code-tabulation-areas-from-the-census-api.pdf

### https://api.census.gov/data/2020/

### https://www.census.gov/data/developers/data-sets/popest-popproj/popest.html

### how to get pop data with census api: https://api.census.gov/data/2021/pep/population?get=DENSITY_2021,POP_2021,NAME,STATE&for=region:*&key=YOUR_KEY

### https://www.census.gov/geographies/reference-files/time-series/geo/gazetteer-files.2021.html#list-tab-6MPRXXDBDK2UUWTSHX

### https://data.census.gov/table?g=0400000US48

### https://gist.githubusercontent.com/erichurst/7882666/raw/5bdc46db47d9515269ab12ed6fb2850377fd869e/US%2520Zip%2520Codes%2520from%25202013%2520Government%2520Data

In [1]:
import pandas as pd
texas_zips=pd.read_csv('./texas_zips.csv')

In [2]:
texas_zips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1740 entries, 0 to 1739
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zip         1740 non-null   int64
 1   population  1740 non-null   int64
 2   city        1740 non-null   object
 3   county      1740 non-null   object
 4   state       1740 non-null   object
dtypes: int64(2), object(3)
memory usage: 68.1+ KB

In [3]:
texas_zips.shape

(1740, 5)

In [4]:
texas_zips.describe()

                zip     population
count   1740.000000    1740.000000
mean   77334.381609   16352.478736
std     1408.568784   19611.434497
min    75001.000000     201.000000
25%    76086.750000    1797.000000
50%    77383.000000    7806.500000
75%    78564.500000   26119.000000
max    79938.000000  126310.000000

In [5]:
texas_zips.head()

     zip  population      city     county state
0  77494      126310      Katy  Fort Bend    TX
1  77449      123157      Katy     Harris    TX
2  75034      116155    Frisco     Collin    TX
3  75070      109085  McKinney     Collin    TX
4  79936      108668   El Paso    El Paso    TX

In [6]:
arkansas_zips=pd.read_csv('./arkansas_zips.csv')

In [7]:
arkansas_zips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zip         511 non-null    int64
 1   population  511 non-null    int64
 2   city        511 non-null    object
 3   county      511 non-null    object
 4   state       511 non-null    object
dtypes: int64(2), object(3)
memory usage: 20.1+ KB

In [8]:
arkansas_zips.shape

(511, 5)

In [9]:
arkansas_zips.describe()

                zip    population
count    511.000000    511.000000
mean   72311.189824   5825.868885
std      378.212982   9640.944451
min    71601.000000    202.000000
25%    72016.500000    727.500000
50%    72355.000000   1939.000000
75%    72629.500000   5325.000000
max    72959.000000  60096.000000

In [10]:
arkansas_zips.head()

     zip  population                       city      county state
0  72712       60096                Bentonville      Benton    AR
1  72401       59098                  Jonesboro   Craighead    AR
2  72764       57561                 Springdale  Washington    AR
3  72034       50619                     Conway    Faulkner    AR
4  71913       47190  Hot Springs National Park     Garland    AR

In [11]:
georgia_zips=pd.read_csv('./georga_zips.csv')

In [12]:
georgia_zips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 662 entries, 0 to 661
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zip         662 non-null    int64
 1   population  662 non-null    int64
 2   city        662 non-null    object
 3   county      662 non-null    object
 4   state       662 non-null    object
dtypes: int64(2), object(3)
memory usage: 26.0+ KB

In [13]:
georgia_zips.shape

(662, 5)

In [14]:
georgia_zips.describe()

                zip    population
count    662.000000    662.000000
mean   30818.259819  15640.709970
std      588.009519  17762.478788
min    30002.000000    206.000000
25%    30296.250000   2412.250000
50%    30667.500000   7601.500000
75%    31323.750000  24569.000000
max    31909.000000  93987.000000

In [15]:
georgia_zips.head()

     zip  population           city    county state
0  30044       93987  Lawrenceville  Gwinnett    GA
1  30043       88276  Lawrenceville  Gwinnett    GA
2  30024       80598        Suwanee  Gwinnett    GA
3  30349       75647        Atlanta    Fulton    GA
4  30040       72858        Cumming   Forsyth    GA

In [16]:
ar_ga_tx = pd.concat([arkansas_zips, georgia_zips, texas_zips])

In [17]:
ar_ga_tx.shape

(2913, 5)

In [18]:
georgia_zips.shape

(662, 5)

In [19]:
texas_zips.shape

(1740, 5)

In [20]:
arkansas_zips.shape

(511, 5)

In [21]:
state_counts=(arkansas_zips.shape[0]+georgia_zips.shape[0]+texas_zips.shape[0])
state_counts

2913

In [22]:
state_counts == ar_ga_tx.shape[0]

True

In [23]:
all_zips_coords = pd.read_csv('./uszips.csv')

In [24]:
all_zips_coords.head()

                   ZIP,LAT,LNG
0  00601,18.180555, -66.749961
1  00602,18.361945, -67.175597
2  00603,18.455183, -67.119887
3  00606,18.158345, -66.932911
4  00610,18.295366, -67.125135

In [25]:
all_zips_coords[['zip', 'latitude', 'longitude']]=all_zips_coords['ZIP,LAT,LNG'].str.split(',',3, expand=True)

In [26]:
all_zips_coords.head()

                   ZIP,LAT,LNG    zip   latitude    longitude
0  00601,18.180555, -66.749961  00601  18.180555   -66.749961
1  00602,18.361945, -67.175597  00602  18.361945   -67.175597
2  00603,18.455183, -67.119887  00603  18.455183   -67.119887
3  00606,18.158345, -66.932911  00606  18.158345   -66.932911
4  00610,18.295366, -67.125135  00610  18.295366   -67.125135

In [27]:
all_zips_coords= all_zips_coords.drop(columns=['ZIP,LAT,LNG'])

In [28]:
all_zips_coords.head()

     zip   latitude    longitude
0  00601  18.180555   -66.749961
1  00602  18.361945   -67.175597
2  00603  18.455183   -67.119887
3  00606  18.158345   -66.932911
4  00610  18.295366   -67.125135

In [29]:
all_zips_coords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33144 entries, 0 to 33143
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   zip        33144 non-null  object
 1   latitude   33144 non-null  object
 2   longitude  33144 non-null  object
dtypes: object(3)
memory usage: 776.9+ KB

In [30]:
all_zips_coords['zip']=all_zips_coords['zip'].astype(str).astype(int)

In [31]:
all_zips_coords[['latitude', 'longitude']]=all_zips_coords[['latitude', 'longitude']].astype(str).astype(float)

In [32]:
all_zips_coords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33144 entries, 0 to 33143
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   zip        33144 non-null  int32
 1   latitude   33144 non-null  float64
 2   longitude  33144 non-null  float64
dtypes: float64(2), int32(1)
memory usage: 647.5 KB

In [33]:
ar_ga_tx_combined_coo_zip=pd.merge(ar_ga_tx, all_zips_coords, how='left', on='zip')

In [34]:
ar_ga_tx_combined_coo_zip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2913 entries, 0 to 2912
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zip         2913 non-null   int64
 1   population  2913 non-null   int64
 2   city        2913 non-null   object
 3   county      2913 non-null   object
 4   state       2913 non-null   object
 5   latitude    2913 non-null   float64
 6   longitude   2913 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 182.1+ KB

In [35]:
ar_ga_tx_combined_coo_zip.shape[0]==ar_ga_tx.shape[0]

True

In [36]:
ar_ga_tx_combined_coo_zip

,zip,population,city,county,state,latitude,longitude
0,72712,60096,Bentonville,Benton,AR,36.346567,-94.256280
1,72401,59098,Jonesboro,Craighead,AR,35.886344,-90.656774
2,72764,57561,Springdale,Washington,AR,36.175682,-94.060223
3,72034,50619,Conway,Faulkner,AR,35.049921,-92.486049
4,71913,47190,Hot Springs National Park,Garland,AR,34.449239,-93.094266
...,...,...,...,...,...,...,...
2908,79834,202,Big Bend National Park,Brewster,TX,29.166114,-103.270536
2909,78545,202,Falcon Heights,Starr,TX,26.587174,-99.119871
2910,79003,202,Allison,Wheeler,TX,35.581845,-100.068724
2911,79011,202,Briscoe,Wheeler,TX,35.634220,-100.231976
2912,75934,201,Camden,Polk,TX,30.894878,-94.759082

In [37]:
ar_ga_tx_combined_coo_zip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2913 entries, 0 to 2912
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zip         2913 non-null   int64
 1   population  2913 non-null   int64
 2   city        2913 non-null   object
 3   county      2913 non-null   object
 4   state       2913 non-null   object
 5   latitude    2913 non-null   float64
 6   longitude   2913 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 182.1+ KB

In [38]:
ar_ga_tx_combined_coo_zip.to_csv('ar_ga_tx_combined_coo_zip.csv')